<form [formGroup]="form">
    <mat-form-field>
        <input matInput formGroupName="login">
    </mat-form-field> 
</form>
<button mat-raised-button (click)="onSubmit()">primary</button>
<button mat-raised-button (click)="onLogin()">login</button>
<button mat-raised-button color="accent" (click)="onError()">accent</button>